[2016-05-30 07:11] wlfcolin opened #1 "there is a bug that the TextView can not work with the android:textColor in xml in 1.0.1"
there is a bug that the TextView can not work with the android:textColor in xml in 1.0.1，if i compile the aar myself with master branch codes，it works fine.

[2016-05-30 08:54] dvdciri commented on #1
Thank's for the report! I'll work on it soon, if you've got any possible solution feel free to make a pull request!

If you're using this library in an app let me know :)

[2016-06-02 11:35] dvdciri commented on #1
@wlfcolin Can you explain what is not working or give some more detail about it?
I've made some tests and everything is okay using android:textColor in xml..

[2016-06-17 10:11] sagar15795 opened #2 "Why minSdkVersion is not 15"
I have run this code with minSdkVersion 15 . And it works fine. Is there any problem with API 15

[2016-06-17 10:18] dvdciri commented on #2
There was a problem with API 15 some time ago and i've decided to keep 17 as minSdk, if you've got something working and ready to test just fell free to create a pull request and i'll include in the next release, otherwise I'll do it for the next release.

Thanks for letting me know.

[2016-06-17 11:05] dvdciri commented on #2
Just released 1.1.2 with the minSdkVersion to 15

[2016-06-17 11:05] #2 closed

[2016-06-17 17:19] sagar15795 commented on #2
Thank for enhancement

[2016-06-17 18:17] sagar15795 opened #3 "Selected item background color and text color"
How can i change selected item background color and text color

[2016-06-17 18:27] dvdciri commented on #3
If you read the README file, there is a bit that explains of to customize it. You have to override the setActive method of the MultiChoiceAdapter. At that point you can customize your view in relation to the state.

[code]

The View parameter is the root of your layout item, i know that from that one you'll need to use complicated stuff to customize the layout 100% and maybe loop through childs an

[2016-06-17 18:28] dvdciri commented on #3
@sagar15795  If you've got any suggestion or enhancement fell free to pull request it.
Thanks

[2016-06-17 18:29] dvdciri commented on #1
@wlfcolin  Still waiting for more details about the issue, if nothing comes in a couple of days i'll assume that everything is okay for now!
Thanks

[2016-06-17 18:46] #3 closed

[2016-06-18 03:34] sagar15795 commented on #3
Thanks

[2016-06-26 20:03] dvdciri commented on #1
Close because seems to be fixed

[2016-06-26 20:03] #1 closed

[2016-06-27 23:23] dvdciri opened #4 "Add boolean "isMultiChoiceModeActive" parameter to setActive"
Add a bool parameter to the **setActive()** method of the MultiChoiceAdapter.class in order to let the developer know whether the multi choice mode is active or deactive.

[2016-06-27 23:27] dvdciri opened #5 "Avoid always updating the view if not needed"
Every time the RecyclerView is scrolled, the onBindViewHolder method is fired and views are updated (whether is active or deactive). This will cause a bad effect if the setActive method is activating/deactivating the items with an animation.

[2016-06-27 23:28] dvdciri commented on #5
For now, a workaround for this is to not update the views if the multi choice selection is active (selected items > 0)..

[2016-06-27 23:35] dvdciri opened #6 "Selection mode not working if setting OnClickListener on itemView"
As the MultiChoiceRecyclerView is setting the OnClickListener on the main view for the click and longClick (ViewHolde.itemView), if we set the OnClicklistener on the itemView of the Adapter that is inheriting from the MultiChoiceAdapter, will cause an Overriding of the click action and consequently the multi choice selection won't work properly.

Doing this in the Adapter that is inheriting from t

[2016-06-30 19:28] dvdciri commented on #6
I've implemented a new way to provide the OnClickListener for the itemView of the ViewHolder in order.
Will be available in the 1.1.4.

[2016-06-30 19:28] #6 closed

[2016-07-02 18:27] dvdciri commented on #4
It's done

[2016-07-02 18:27] #4 closed

[2016-08-28 20:45] yogieeka commented on #5
i'm trying this on itemSelected, and work

MultiChoiceRecyclerView.setMultiChoiceSelectionListener(new MultiChoiceSelectionListener() {
            @Override
            public void OnItemSelected(int selectedPosition, int itemSelectedCount, int allItemCount) {
                MultiChoiceRecyclerView.setAdapter(adapter);
                adapter.notifyDataSetChanged();
      }
}

[2016-08-28 21:04] dvdciri commented on #5
Why are you doing that? The RecyclerView works as per normal usage, you don't need to call `notifyDataSetChanged()` when something is selected because that method is already called before the callback is fired.

The issue is about the fact that every time you scroll the RecyclerView the onBindViewHolder is called and, to keep everything up to date, I'm refreshing the state of the current View.
Thi

[2016-09-27 12:05] dvdciri opened #8 "deselectAll is returning the wrong callback"
As per PR #7 this is a bug.

[2016-09-27 12:06] dvdciri commented on #8
Fixed here #7

[2016-09-27 12:06] #8 closed

[2016-10-07 15:27] ScottMellors opened #9 "Return toolbar to original state after finishing multiselection"
Hello, had a relatively easy integration however now after completing the multiselection, I lose the ability to navigate back from the toolbar.

Is there a way of integrating an actionmode callback or equivalent? Is there a callback for the ending of the multiselect mode? The OnDeselectAll method seemed a likely candidate but there doesn't seem to be.

[2016-10-07 17:06] dvdciri commented on #9
Whenever the multi selection count will be equal to 0, it'll automatically reset the toolbar to the original one (if the multi choice toolbar is set).

Can you give more details about what you are doing?

[2016-10-07 18:04] dvdciri commented on #8
This is now available in the latest v1.1.7

[2016-10-09 18:10] dvdciri commented on #9
Closing as don't seems to be a bug or issue.

[2016-10-10 09:17] ScottMellors commented on #9
Once all the items are deselected, the home as up indicator on the toolbar that was previously there disappears, I think I might have sorted the issue though.

[2016-10-10 10:35] dvdciri commented on #9
Ok thanks, i'll take a look at It asap. Let u know!

[2016-10-10 10:45] ScottMellors commented on #9
If you can call the "DeselectAll" when you hit the button, that should be enough to handle it in the short term.

[2016-10-10 10:48] dvdciri commented on #9
Why don't you fork It and creat a PR with that change? I'll review It and creare a new patch release!

[2016-10-10 10:56] dvdciri commented on #9
Actually that should be already implemented in MultiChoiceToolbarHelper.java:160 when i'm calling deselectAll() and i'll give you the callback. I'll check it anyway

[2016-10-10 11:35] dvdciri commented on #9
After a bit of investigation this is related to #7. So it's fixed in v1.1.7

[2016-10-10 11:35] #9 closed

[2016-10-10 11:41] dvdciri opened #11 "Keep the state of the toolbar unchanged"
If you set a toolbar icon (home as up icon) on the original toolbar and you set the MultiChoiceToolbar, whenever the deselectAll action is made and the old toolbar is restored it'll remove the icon not keeping the state of the toolbar unchanged.

A workaround for now is to set the `MultiChoiceSelectionListener` and at `OnDeselectAll()` reset the icon again.

[2016-10-10 12:33] ScottMellors commented on #9
Having a dig through the code it seems to have the code to the multichoice listener but for some reason isn't actually being called. See line 135 in MultiChoiceRecyclerView.java, couldn't get the library to compile in my downtime but will try and check if the multiChoiceSelectionListener is initiated.

[2016-10-16 04:04] zigic88 opened #12 "Error inflating class com.davidecirillo.multichoicesample.MultiChoiceRecyclerView"
Hello Sir, sorry for my bad English.

I want to ask, when I'm using MultiChoiceRecyclerView in my activity_main.xml.
"
 <com.davidecirillo.multichoicesample.MultiChoiceRecyclerView
            android:id="@+id/list"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
"
I got this error, java.lang.RuntimeException: Unable to start activity
.....
andro

[2016-10-16 05:14] zigic88 commented on #12
I'm already solve it,
My fault is <com.davidecirillo.multichoicesample.MultiChoiceRecyclerView
must be
<com.davidecirillo.multichoicerecyclerview.MultiChoiceRecyclerView

Best Regards,

Zigic

[2016-10-16 09:15] #12 closed

[2016-10-16 18:23] dvdciri commented on #11
I'm starting working on this in the 1.1.8 along with some consistent improvement on the MultiChoiceToolbar.

[2016-10-28 16:05] ScottMellors commented on #11
Seems to be resolved in the 1.1.7 release. Updated today and behaving how I was expecting it to!

[2016-10-28 16:11] dvdciri commented on #11
It shouldn't be resolved, the only way is to restore to icon in the onDeselectAll

[2016-10-28 18:02] dvdciri commented on #11
Anyway, in the 1.1.8 release there will be a Builder for the MultiChoiceToolbar so you can pass you toolbar icon in and will be restore when needed. Available soon.

[2016-10-29 11:32] dvdciri opened #14 "Keep result selected list in the same selection order"
Whenever you try to retrieve the list of select items via the method `Collection<Integer> getSelectedItemList()` the list is not always in the order in which has been selected, but for some reasons is randomised.

[2016-10-31 09:25] dvdciri commented on #11
Available in 1.1.8:
Use this method to set the icon and action for the MultiChoiceToolbarBuilder
`Builder setIcon(int icon, View.OnClickListener action)`

[2016-10-31 09:25] #11 closed

[2016-11-08 09:02] davidHarush opened #16 "performVibrate permission issue"
Form Android 6.0+  performVibrate method need permission handle

[2016-11-22 05:55] nihas opened #17 "Disable some items"
How can i disable some items in the recyclerview to select

[2016-11-22 13:43] dvdciri commented on #17
What do you mean by "disable some items .. to select"?

[2016-11-24 18:16] dvdciri commented on #16
@davidHarush Thanks for letting me know, in v1.1.9 there will be a check for permission granted, is interest of whoever is going to implement the library to make sure it has the correct permission at runtime before the user starts interacting with the application.

[2016-11-24 22:31] dvdciri commented on #16
@davidHarush Wait a second, just realising that `android.permission.VIBRATE` should be automatically granted as permission and doesn't need runtime check. Can you add more details?

[2016-11-24 22:40] davidHarush commented on #16
Yes, It's defined as normal permission, but it's crash for my from that spot, i will check again...

[2016-11-24 22:44] dvdciri commented on #16
I'm still going to add a permission granted check to avoid any kind of permission related issues..

Please let me know asap so we can give a resolution to the issue.
Thanks

[2016-11-25 17:08] davidHarush commented on #16
It's  now, i'm sorry  :-(

[2016-11-25 17:10] #16 closed

[2016-11-28 16:32] dvdciri commented on #5
Closing because there will be some improvements in v1.1.9 on that.

[2016-11-28 16:32] #5 closed

[2016-11-30 12:20] hardysim opened #21 "Use this lib with nested adapter"
I want to use this lib with a nested adapter (which provides section-headers). Because of this, I have currently two adapters (`SimpleSectionedRecyclerViewAdapter` and the actual `ListAdapter`).

Because only the SectionAdapter is provided in `MultiChoiceRecyclerView#setAdapter()`, the nested adapter produces an error (listener not set) in `MultiChoiceAdapter#onBindViewHolder()` (it extends `Multi

[2016-11-30 13:15] dvdciri commented on #21
The `SelectionListener` is package-protected because it should only be used internally in the MultiChoiceRecyclerView along with the `MultiChoiceAdapter#setMultiChoiceListener` method.

Just to understand, you have a `ListAdapter` that is extending the `MultiChoiceAdapter`, in this case you shouldn't have any problem with that as long as you're calling the `super.onBindViewHolder(holder, position)

[2016-11-30 13:18] dvdciri commented on #21
Anyway, there will be a major release that will remove completely the `MultiChoiceRecyclerView` in order to simplify the implementation of the library just with the adapter (This ends up removing the `SelectionListener` as well), so you shouldn't have any issue at that point.

[2016-11-30 13:35] hardysim commented on #21
I'm not using the `ListAdapter` directly / it's not added to the `RecyclerView`. What is added, is `SimpleSectionedRecyclerViewAdapter` (which adds SectionHeaders and delegates calls to `ListAdapter` when needed).

Because of this, only one of the two adapters is called as a parameter in `MultiChoiceRecyclerView#setAdapter()` and therefore I get a crash in the inner one.

---

The next release sou

[2016-11-30 13:49] dvdciri commented on #21
I'm thinking or releasing v1.1.14 really really soon (like in days), that is the updated version for the current develop branch with a bunch of performance improvements and bugfix, and then push out a 2.0.0 with the major changes removing the custom RecyclerView.

I can't really specify any date for that but I'm gonna create a milestone with an issue in order to give updates on that progress.

Hop

[2016-11-30 13:55] dvdciri opened #22 "Simplify the library getting rid of the MultiChoiceRecyclerView class"
### Context

Simplify the library getting rid of the `MultiChoiceRecyclerView` class and include the logic inside the adapter instead.

### Steps to reproduce
N/A

### Current behaviour

At the moment in order to implement this library you have to use the `MultiChoiceRecyclerView` along with the `MultiChoiceAdapter`.

### Expected behaviour

Devs should be able to implement this library only using

[2016-11-30 13:56] dvdciri commented on #21
Closing, following with #22.

[2016-11-30 13:56] #21 closed

[2016-11-30 13:57] dvdciri commented on #17
Last call, please give more info (use the issue template) otherwise it'll be sadly closed. =(

[2016-11-30 13:58] dvdciri commented on #14
Closing, will be part of v1.1.14.

[2016-11-30 13:58] #14 closed

[2016-11-30 15:42] nihas commented on #17
As i dont want some items to be selected. how can i achieve that

On 30-Nov-2016 7:27 PM, "Davide Cirillo" <notifications@github.com> wrote:

[2016-11-30 16:30] dvdciri commented on #17
You want to disable some item from the multi choice selection in order to get just the normal click listener and not the selection one.

I can add a method to disable some item from and not apply the selection mode on them but just keep the normal click listener if implemented `MultiChoiceAdapter#defaultItemViewClickListener(...)`, is that good for you?

[2016-11-30 16:36] nihas commented on #17
yeahhh its fine for me... thank you..

On 30-Nov-2016 10:00 PM, "Davide Cirillo" <notifications@github.com> wrote:

[2016-12-01 16:30] dvdciri commented on #17
This is now in develop and will be available in the new release v1.2.14

[2016-12-01 16:30] #17 closed

[2016-12-06 14:39] shimiglide opened #25 "defaultItemViewClickListener is not getting called on click"
### Context

defaultItemViewClickListener is not getting called on click. it is called on scroll
so i have no way to get click

### Steps to reproduce

just implement

### Current behaviour

### Expected behaviour

### Additional informations

[2016-12-06 14:45] dvdciri commented on #25
@shimiglide As you can see [here](https://github.com/dvdciri/MultiChoiceRecyclerView/blob/master/library/multichoicerecyclerview/src/main/java/com/davidecirillo/multichoicerecyclerview/MultiChoiceAdapter.java#L32) the defaultOnClickListener is set only if is not null, make sure you're overriding the method providing the correct implementation and calling super on the View Holder

[2016-12-06 14:46] dvdciri commented on #25
Ok, just saw it has been closed, maybe say why so we can help other people with the same problem.

Thanks

[2016-12-06 14:55] shimiglide commented on #25
i overrided the method defaultItemViewClickListener but did not return a new View.OnClickListener like this
    @Override
    protected View.OnClickListener defaultItemViewClickListener(GalleryViewHolder holder, int position) {
        Log.i("shimi", "defaultItemViewClickListener: in defaultItemViewClickListener position = "+position);
        ItemClicked itemClicked = mItemClicked.get();

[2016-12-06 14:56] shimiglide commented on #25
now that i am doing
    @Override
    protected View.OnClickListener defaultItemViewClickListener(GalleryViewHolder holder, final int position) {
        return new View.OnClickListener() {
            @Override
            public void onClick(View v) {
                Log.i("shimi", "defaultItemViewClickListener: in defaultItemViewClickListener position = "+position);
                ItemClicked

[2016-12-06 14:57] dvdciri commented on #25
Thanks, i'm probably gonna change that bit in order to provide more flexibility are setting the default click listener, also for long click.

[2016-12-06 14:58] shimiglide commented on #25
PS it is not the best implementation to create a new listener on every bind. you should change that

[2016-12-06 15:00] dvdciri commented on #25
@shimiglide What do you propose instead of creating it every time?

[2016-12-06 15:02] shimiglide commented on #25
it should be in the viewHolder then it is only created one time onCreateViewHolder

[2016-12-06 15:07] shimiglide commented on #25
http://stackoverflow.com/questions/33845846/why-is-adding-an-onclicklistener-inside-onbindviewholder-of-a-recyclerview-adapt

[2016-12-06 15:17] shimiglide commented on #25
also setActive() should pass the holder not the view this way you don't need to findViewById every time.

[2016-12-06 15:21] dvdciri commented on #25
Thanks for the advices, the onClickListener is impossible to add inside the creation of the ViewHolder because of the way the library works, the click listener is in the process of binding items, it can be different as you scroll and can be changes on the go internally because of the recycling feature.

I'll think about passing the holder for better implementation, but whenever you bind your view

[2016-12-06 15:24] dvdciri commented on #25
I'm gonna close this one. If you want you can create a PR with changes and i'll be more that happy to review it.

(Keep in mind #22)

[2016-12-06 15:24] #25 closed

[2016-12-08 22:58] lcasale opened #26 "Wrong class used in README.md for layout xml"
In your README.md in the implementation example you have...

`<com.davidecirillo.multichoicesample.MultiChoiceRecyclerView
        android:id="@+id/multiChoiceRecyclerView"
        android:layout_width="match_parent"
        android:layout_height="match_parent" />`

when it should be...

`<com.davidecirillo.multichoicerecyclerview.MultiChoiceRecyclerView
        android:id="@+id/multiChoiceRecycle

[2016-12-08 23:22] dvdciri commented on #26
Cool, good spot! Will fix that!

Thanks

[2016-12-10 23:54] #26 closed

[2016-12-16 11:30] dvdciri commented on #22
The work is nearly done, I'm just adding some more unit test and improvements to the MultiChoiceToolbar.

The whole library will have a lot of performance and reliability improvements!

Stay tuned.

[2016-12-25 10:46] dvdciri commented on #22
PR #27 is ready for 2.0.0, just checking tests and integrity and will be merge asap.

Hope to hear some feedback from you guys, let me know how is going with it.

[2017-01-01 11:35] dvdciri commented on #22
2.0.0 is not out!

Please let me know what do you think about the implementation and some general feedback.

[2017-01-01 11:35] #22 closed

[2017-01-16 15:04] dvdciri opened #28 "Comments, Feedback and New Features"
I wanted to create this issue just for getting **comment and feedback** from the new release 2.0.0. Also I'm open to advices for **new functionalities** and improvements.

Please comments below if want to help!

Thanks

[2017-01-24 10:39] hardysim commented on #28
@dvdciri what about **actions in the toolbar** for the selected items. E.g. I want to delete all selected items by clicking a trash-icon in the (ActionMode-)Toolbar. It this possible with this release?

[2017-01-24 11:11] dvdciri commented on #28
@hardysim The thing about actions is that you need to prepare and create your option menu within the `onCreateOptionMenu` method of activities and fragments, and then listed for clicks with the `onOptionItemSelected`, i'm not sure if this is a good idea..

I could add some predefined actions but i'm not in control of the list of items displayed so i can't modify it and notify.. i should add some w

[2017-01-24 13:18] hardysim commented on #28
Yes. I just realized that the toolbar-actions are not changed (only the icon and the title). I thought the lib would start an `ActionMode`...

I managed to get it working by using `setMultiChoiceSelectionListener()` and calling `invalidateOptionsMenu()` in every callback. In `onCreateOptionsMenu()` I check for selection with `getSelectedItemCount()` and toggle the visibility of my toolbar-actions.

[2017-01-24 13:20] hardysim commented on #28
Can we get the following?

- some kind of `isSelected()` instead of `getSelectedItemCount()`
- use string-res in `MultiChoiceToolbar.Builder.setTitles()`
- not forced to set `setTitles()` in a *Builder* - if needed I think the constructor would be a better place

So far nice improvement over the last version :+1:

[2017-01-24 13:43] dvdciri commented on #28
@hardysim Thanks for the advices! Will definitely take a look at them! Maybe create three different issues and we can carry on over there!

[2017-01-24 13:46] hardysim opened #29 "Can we get isSelected()?"
Can we get some kind of `isSelected()` instead of `getSelectedItemCount()`

[2017-01-24 13:47] hardysim opened #30 "Can we use string-res in MultiChoiceToolbar.Builder.setTitles()"

[2017-01-24 13:48] hardysim opened #31 "do not force to set setTitles() in a Builder"
if needed I think the constructor would be a better place

[2017-01-24 13:48] hardysim commented on #28
I created issues for each:

https://github.com/dvdciri/MultiChoiceRecyclerView/issues/29

https://github.com/dvdciri/MultiChoiceRecyclerView/issues/30

https://github.com/dvdciri/MultiChoiceRecyclerView/issues/31

[2017-01-24 13:54] hardysim opened #32 "Need a way to restore original toolbar's icon / text"
I'm using the new version 2.0.0 and `MultiChoiceToolbar`. Here I need to set an icon and text because it's removed otherwise when the selection is "aborted".

Because I'm using a `NavigationDrawer` I have the nice [hamburger icon](https://material.io/icons/#ic_menu) but normally it's animated when the drawer is slided. Even when setting the same icon (which I then need to include) the icon looks t

[2017-01-24 13:54] hardysim commented on #28
And an other one - #32

[2017-01-24 14:21] hardysim opened #33 "QuantityStrings in MultiChoiceToolbar"
Currently the selection-count and the given string are concatenated. It would be better if we could use a QuantityString.

E.g.:
[code]

The lib would then use the following code to create a clean plural-string:

[code]

[2017-01-24 14:22] hardysim commented on #28
And more - #33

[2017-01-27 14:46] hardysim opened #34 "Option to deny some positions from being selected"
I'd like to prevent some entries in my list from being selected. It would be nice to have an interface on the adapter which positions are "disabled" (or provide an array of positions or something like this).

[2017-01-27 14:47] hardysim commented on #28
Even more (feature request) - #34

[2017-01-27 14:48] dvdciri commented on #34
The feature is already there, just override `protected boolean isSelectableInMultiChoiceMode(int position)` and dictate the rules.

https://github.com/dvdciri/MultiChoiceRecyclerView/blob/master/library/multichoicerecyclerview/src/main/java/com/davidecirillo/multichoicerecyclerview/MultiChoiceAdapter.java#L57

[2017-01-30 07:58] hardysim commented on #34
Ah great - didn't see that.

But now I have the problem, that the single-click ist passed to disabled entries while others are selected. How can I achieve, that disabled entries to nothing when clicked on them while a multi-selection is ongoing?

[2017-01-30 08:04] hardysim commented on #34
Well no, it does not... When returning `null` in `defaultItemViewClickListener()` for positions I'd like to be not-selectable, the normal click (when no selection is going on) is disabled too.

So the problem is still here: How can I disable some positions from being multi-selected while have the normal single-click active (but only when no multi-selection is ongoing).

[2017-01-30 08:09] hardysim commented on #34
Plus, the long-press is still active for entries marked with `false` in `isSelectableInMultiChoiceMode()`. Seems like a bug!?

[2017-01-30 10:39] hardysim opened #35 "Preserve selection on device-rotation"
Is it possible to set the selected positions manually? E.g. when rotating the device, the selection is lost and I want to store / re-apply it programmatically.

[2017-01-30 15:02] hardysim opened #36 "NavigationDrawer not overlapping StatusBar"
Using the new Lib-Version 2.0.0 the NavigationDrawer does not overlap the StatusBar anymore when a selection was made and the toolbar returns to its "normal" state.

Presumably related to #32

[2017-01-30 15:02] hardysim commented on #28
More more more ;)

#35 , #36

[2017-01-30 17:39] dvdciri commented on #35
You can manually select items here https://github.com/dvdciri/MultiChoiceRecyclerView/blob/master/library/multichoicerecyclerview/src/main/java/com/davidecirillo/multichoicerecyclerview/MultiChoiceAdapter.java#L82

[2017-01-30 17:41] dvdciri commented on #32
At the moment you can use the MultiChoiceToolbar.Builder to specify the icon and the click listener, it'll be restored once the state is set to NORMAL. Is that what you're saying?

[2017-01-30 17:41] dvdciri commented on #32
https://github.com/dvdciri/MultiChoiceRecyclerView/blob/master/library/multichoicerecyclerview/src/main/java/com/davidecirillo/multichoicerecyclerview/MultiChoiceToolbar.java#L111

[2017-01-30 17:42] dvdciri commented on #36
Can you provide screenshots/logs?

[2017-01-30 17:44] dvdciri commented on #28
@hardysim Thanks for the issues and help, it would be great if you can follow the template while creating the issues and if applicable provide screenshots/log.

I'm (slowly) looking into them. =)

[2017-01-30 17:45] dvdciri commented on #29
Yes we can! =) It was in a previous version but i decided to remove it for some reasons. Will implement it.

[2017-01-30 17:49] dvdciri commented on #31
Where am i forcing to set the title?

[2017-01-30 17:53] dvdciri commented on #34
I'm gonna reopen this and take a look at this once got time, thanks

[2017-01-31 08:40] hardysim commented on #35
How do I activate this mode? When the activity is re-created (after device-rotation), I need to activate this mode and select the positions.

[2017-01-31 08:45] dvdciri commented on #35
The MCM is activated automatically when an item is selected. The single choice mode is activated manually, see documentation.

When the device rotate, is it resetting all the selected positions and is not in multi choice mode? Then if the MCM is not active, the select() method won't do anything cause there are no item selected, I might need to take a look at this as well..

[2017-01-31 08:46] hardysim commented on #31
The `MultiChoiceToolbar#Builder()` takes `setTitles()`.
If I **do not** add this to the builder, it crashes with:

[code]

In my understanding, a builder is the thing where I *might* add options (but I *can* leave them unset).
Am I wrong?

---

This is not a bug - more like a architectural discussion ;-)

[2017-01-31 08:47] dvdciri commented on #31
Correct, thanks for adding info, will fix this later

[2017-01-31 08:57] hardysim commented on #35
Exactly, `mIsInMultiChoiceMode` and `mIsInSingleClickMode` are both `false` in `MultiChoiceAdapter#select()` when trying to select the positions from my `savedInstanceState` (calling in `Fragment#onViewCreated()`.

[2017-01-31 09:00] hardysim commented on #28
Yeah, I'm just about to start today :-) I tried forking on the weekend but had trouble referencing issues from your project in my fork.

Is there some best-practice how to work on issues here (fork, create feature-branch with correct reference to issue, create PR to original project..)?

[2017-01-31 09:04] dvdciri commented on #28
Just create a PR for merging in develop in this repo, don't need to merge, please keep it simple and targeted on the singole issue, and give a proper name referencing the issue (I might set up some custom contribution guidelines) thanks

[2017-01-31 09:05] hardysim commented on #36
Here are some screenshots:

#### drawer overlapping status bar (correct)

![image](https://cloud.githubusercontent.com/assets/3737512/22458331/46e0c72c-e79c-11e6-8ce8-13563737fe83.png)

#### drawer behind status bar (wrong)

![image](https://cloud.githubusercontent.com/assets/3737512/22458346/5ccbd568-e79c-11e6-9015-0d004ced6322.png)

As mentioned, this happens after a selection was made and the l

[2017-01-31 09:07] hardysim commented on #32
No, this is what I *can* do for now but not what I *need* ;-)

I want to restore the complete state before the lib modifies the toolbar. See the last paragraph in https://github.com/dvdciri/MultiChoiceRecyclerView/issues/36#issuecomment-276310356.

[2017-01-31 09:31] dvdciri commented on #29
I thought you want something like `isSelected(int position)`, in that case i'm gonna close this because as i said, you can use `getSelectedItemCount() > 0` and this is what i added it for.

[2017-01-31 09:31] #29 closed

[2017-01-31 10:14] hardysim commented on #29
Hmm, `isSelected(int position)` is a good idea though. Should we change the title of the issue and re-open it? :-)

[2017-02-02 11:11] #31 closed

[2017-02-02 11:11] #33 closed

[2017-02-02 14:09] dvdciri commented on #28
FYI 2.1.0 is not out with some fixed thanks for the help @hardysim!

[2017-02-02 14:11] dvdciri commented on #30
@hardysim This is a quick one, you also do it if you want =)

[2017-02-02 16:56] hardysim commented on #30
sure, I'll add this tomorrow

[2017-02-06 03:07] KingWu opened #40 "Support Deselect function?"
Does it support Choice mode? Only select one of items.

[2017-02-06 07:48] dvdciri commented on #40
Well, if you wanna force to select one single item you can either mark all of the as non-selectable and leave one selectable, or add the multi choice listener and wait for one item to be selected and do some work, not sure if that helps..

[2017-02-07 08:01] hardysim opened #42 "remove develop-branch"
Currently you have `master` and `develop` and feature-branches start from `develop`. But it seems like you forget to merge from `master` to `develop` from time to time after a release is made.

I could think of just removing `develop` and start all feature-branches from `master` (like the GitHub-flow suggests). This would be more easy for you and for contributors (who don't need to merge to branch

[2017-02-07 09:07] dvdciri commented on #42
Nope, master is protected, the only code that goes in is the release branch took out from develop, following the git-workflow, in fact every time I branch out for a release I use the UI tools from source tree that allow me to create feature branches, release branches from develop and then once a release is made and we close it, it'll automatically merge everything into developing and update master

[2017-02-07 09:07] #42 closed

[2017-02-10 09:27] tuancoltech opened #45 "setActive is not trigger"
I have setup my Adapter as same as the guidelines but dont know why my setActive is not getting triggered.
Could you look into this and tell me why?

Thank you.

[ApprovalRequestAdapter.zip](https://github.com/dvdciri/MultiChoiceRecyclerView/files/766220/ApprovalRequestAdapter.zip)

[2017-02-13 14:58] dvdciri commented on #29
We can open another issue for the `isSelected(int position)`, it's a quick add

[2017-02-13 15:04] dvdciri commented on #45
Not sure how to help, we need more info for that.. try with the following:
- Are you attaching the adapter to the RecyclerView so `onAttachedToRecyclerView` will be called?
- Are you calling super.onBindViewHolder(...) in your adapter
- Try to check the sample app and see what are you missing..

[2017-02-13 15:04] dvdciri commented on #40
Closing this.

[2017-02-13 15:04] #40 closed

[2017-02-13 15:06] dvdciri commented on #35
Might be interesting if you can take a look at this.. =)

[2017-02-13 15:06] dvdciri commented on #30
Closing cause it's in develop.

[2017-02-13 15:06] #30 closed

[2017-02-13 15:20] hardysim opened #46 "New Feature: isSelected(int position)"
There should be a method to report if a specific position is currently selected.

---

See discussion in #29.

[2017-02-13 15:27] hardysim commented on #46
@dvdciri my implementation would be

[code]

As you mentioned in #29 that's maybe too easy (as you can use `getSelectedItemList()` and do the `contains()` yourself.

Should be dismiss this?

[2017-02-13 15:28] dvdciri commented on #46
Yeah that is what i was saying... closing it

[2017-02-13 15:28] #46 closed

[2017-02-13 15:37] hardysim commented on #35
I think the problem in my case is, that I'm re-creating the `MultiChoiceAdapter` in `onViewCreated()` and therefor all information is lost.

It might work, saving the result of `getSelectedItemList()` in `onSaveInstanceState()` and restore it by calling `select()` but as I mentioned, this only works when MCM is active (which I cannot alter from the outside).

---

What's the plan for this? Make MC

[2017-02-13 15:43] dvdciri commented on #35
Not sure, cause the logic behind it is, if in multi choice mode, the first should be selected with a long, click, if not in multi choice but in single click mode, then all the items can be selected with one click. Said that, it makes sense that the `select()` is not allowing you to select if is not in one of the to modes.

Given the fact that there's documentation on the `select()` method explaini

[2017-02-13 15:47] dvdciri commented on #35
Just checked and the application, is currently restoring the state to nothing selected. So this is definitely a bug that needs fix.

There might be different fix for this, i'll need to take a look

[2017-02-14 08:23] hardysim commented on #35
So you mean that I could do the following?

[code]

But this does not work currently and you're going to investigate (on a different issue)?

[2017-02-14 08:25] dvdciri commented on #35
Yeah, the above snipped should work correctly.. it's a workaround though but there is still a bug in the lib cause if you change orientation everything will be deselected.

[2017-02-14 09:21] dvdciri commented on #35
Closing this one, because checking into the code there was a bug with the sample app that was always initialising the adapter. Fixing this in another PR and opening a new one related to a bug inside the library, that when you change the orientation, i'll show an empty list of data.

[2017-02-14 09:21] #35 closed

[2017-02-14 09:23] dvdciri opened #47 "App shows an empty recycler view when orientation changes"
### Context
Library bug, change orientation will show and empty list

### Steps to reproduce
- Select something
- Change orientation

### Current behaviour
Empty list shown

### Expected behaviour
The full list with the same item selected

[2017-02-14 09:24] #45 closed

[2017-02-14 14:04] dvdciri opened #49 "If updating adapter item list later on through notifyDataSetChanged, invalid state"
### Context
When passing an empty list to the adapter and updating the last later on, through notifyDataSetChanged, the adapter will end up saving not all the list of items, but only the one that are bind to a view (because of the internal logic of the MultiChoiceAdapter). This is putting the app in an invalid state because when we go to selectAll items, for instance, the MultiChoiceAdapter knows

[2017-02-14 15:55] dvdciri opened #50 "ARE YOU USING MultiChoiceRecyclerView??"
**Are you using this library?**

If you're actively using this library in one of your applications, let me know below stating:
- a link to the application
- Your name (or GitHub profile)

So you'll be featured in the **Who is using this library?** section of the README.

Thanks everyone!

[2017-02-14 15:57] dvdciri commented on #28
I'm gonna close this one. Thanks to @hardysim for contributing and raising new defect =) did good work!

[2017-02-14 15:57] #28 closed

[2017-02-21 20:15] kcywek opened #51 "There is no deselect(int position) method"
Please provide deselect(int position) method in MultiChoiceAdapter. There is select(int position) method but there is no deselect. Thanks in advance.

[2017-02-22 18:37] dvdciri commented on #51
Yes, that definitely makes sense! Creating the PR in days. Thanks

[2017-02-22 18:39] #50 closed

[2017-02-22 19:30] dvdciri commented on #51
Created PR #52 for this along with refactor to the select(int position) method.

[2017-02-22 19:31] dvdciri commented on #47
This has been fixed as part of this PR #48

[2017-02-22 19:31] #47 closed

[2017-02-22 20:06] dvdciri commented on #51
#52 is in develop now, the feature will be available with the next release. Closing this

[2017-02-22 20:06] #51 closed

[2017-03-10 15:57] smarques84 commented on #49
@dvdciri I tried your library and noticed that if the recycler view starts empty and then later I update the list and call notifyDataSetChanged i can't multiple select any items on my list. I suppose this problem is related with this issue? I really need this to be fixed since the recycler view is updated with a remote call to an api server

[2017-03-10 16:10] dvdciri commented on #49
Yes, correct, this is the issue for that. I'll be working on this soon providing a method to refresh the data set, and setting all of the item to UNSELECTED. Does it make sense?

[2017-03-10 16:45] smarques84 commented on #49
@dvdciri I will try to fix the issue on your library then

[2017-03-10 16:48] dvdciri commented on #49
That would be good, though i already started doing that.. so i'd say let me do this and you can review it if you want. =)

[2017-03-10 16:58] smarques84 commented on #49
@dvdciri Okay hurry up then 👍

[2017-03-10 17:25] smarques84 commented on #49
@dvdciri Nice i also managed to fix the issue my self let me check your fix to see if i did the same approach

[2017-03-10 17:26] dvdciri commented on #49
I need this fix to go in master because it is also fixing some other issues. So from now on if you want to notify that the data set has changed you should use `MultiChoiceAdapter#refreshDataSet()`.

[2017-03-10 17:26] dvdciri commented on #49
I'm gonna put that into the README documentation as well.

[2017-03-11 08:36] mlaferla opened #56 "Hi Davide, is there a way to get the position of the selected item in my recylerview once it is active? Or at least get the positions of the active rows in the recyclerview"
### Context
I need to get the position of the selected active items in my recyclerview to then use it to create a group chat. Is there a way to get the position of the selected item in the `setActive()` method?

### Steps to reproduce

### Current behaviour

### Expected behaviour

### Additional informations

[2017-03-11 08:43] dvdciri commented on #56
Yes, if you look at the available APIs in the MultiChoiceAdapter you'll see that there are method for getting the selected items. And other useful ones. Check out the Readme file and the Features file for more info!

[2017-03-11 09:21] mlaferla commented on #56
I need the position of the selected item in the setActive method. This method only has two parameters which are status and view. How can I use these to get the position of my selected item?

[2017-03-11 09:44] dvdciri commented on #56
The set Active method is not supposed to know about the position of the object, think about it like a bind view, you just need to apply the UI changes. Why do you need the position here?

[2017-03-11 10:24] mlaferla commented on #56
Because I am then adding the from the view to an arraylist. Don't worry I found a way around it.

[2017-03-11 16:08] #56 closed

[2017-04-05 10:11] hardysim commented on #34
BTW, I managed to use a workaround for this.

My adapters extend from a man-in-the-middle adapter `MultiChoiceAdapterDelegate` which has a flag `multiSelectEnabled` along with a setter for it..

[code]

The flag is checked in `onBindViewHolder()` and the original method of this library (`super.onBindViewHolder()`) is only called, when the flag is set to `true`. If Not, the `defaultItemViewClickLis

[2017-04-06 07:39] hardysim commented on #36
I just realized that this happens only *after* the selection is finished (so it's still correct when selection is in progress). Maybe this helps identifying the problem.

[2017-06-01 02:46] jdamacena opened #58 "NullPointerException when setting the title of "selected items" to null"
### Context

When you call ```.setTitles(toolbarTitle(), "item selected")``` passing ```null``` as the title of selected items like this: ```.setTitles(toolbarTitle(), null)```, the library gives an exception and the application breaks.

### Steps to reproduce

An example of code that can make the exception to appear
[code]
### Current behaviour

The library gives a nullPointerExeception and the a

[2017-06-01 06:55] dvdciri commented on #58
Thanks for the issue. Honestly I don't think this is a bug, that method is used to append something to the number of items selected, therefore if you don't want to show anything it's an empty string. There's no point of supporting null string, it shouldn't be null.

I'll leave it open with a low priority. Thanks

[2017-06-01 13:17] jdamacena commented on #58
that's a good point, I agree with you. Maybe annotating the parameter as
"not null" could be enough.

On Jun 1, 2017 03:55, "Davide Cirillo" <notifications@github.com> wrote:

[2017-06-04 02:17] jdamacena opened #60 "Hi Davide, I'm facing problems to update the data set of the library after changing my data set. Can you help me, please?"
### Context

I have a `RecyclerView` showing the items of a list, this list is updated when I make CRUD operations trought the `notifyItemInserted(position)` and other methods like that. But, if you make such operations and then try to select all, for example, you'll see that the number of items wasn't updated (if you have 5 items, delete 3, and then `select all` it still will show that you select

[2017-06-04 02:23] jdamacena commented on #60
Is there any way to ask the library to recount? Am I missing any command?

[2017-06-04 11:11] dvdciri commented on #60
Hi, you're right, there is already an issue opened #49 and a WIP PR that will be update soon #54. Closing this a duplicates, please follow the other issue.

[2017-06-04 11:11] #60 closed

[2017-06-07 03:06] #58 closed

[2017-07-29 08:29] ahmadaghazadeh opened #61 "Add one single selection"
### Please add one single selection for this component

protected void setMultiChoiceMode (boolean flag) {
     ithis.mIsInMultiChoiceMode =flag;
}

[2017-07-29 08:55] ahmadaghazadeh commented on #61
protected void setMultiChoiceMode (boolean flag) {
        ithis.mIsInMultiChoiceMode =flag;
    }

[2017-08-02 22:42] dvdciri commented on #61
What do you mean? Can you be more detailed or you can also open PR and contribute to the project. Thanks

[2017-11-05 14:50] amarilindra commented on #45
I'm facing the same issue. How can I debug the issue?

I'm already calling super.onBindViewHolder(...)

[2017-11-14 22:38] dvdciri commented on #61
Closing as lack of informations

[2017-11-14 22:38] #61 closed

[2018-02-07 08:21] ameliacv opened #63 "What if the Adapter is in Fragment and toolbar is in Activity"
### Context

### Steps to reproduce

### Current behaviour

### Expected behaviour

### Additional informations

[2018-03-05 05:47] chnouman opened #64 "Problem in selecting item for first time?"
### Context
I'm using this library everything goes fine but the issue is for selecting item i have to make a long press
to select first time and other selection goes normal i means by just clicking single time.

### Steps to reproduce
no fancy things just setup the project.

### Current behaviour
while selecting first item i have to long press on the item to select.

### Expected behaviour
i would

[2018-03-24 02:49] adevezin commented on #63
Provide more info on what you problem is, it current works with adapter in fragment and toolbar in activity

[2018-03-24 02:50] adevezin commented on #64
use
`mAdapter.setSingleClickMode(true);`
to enable that feature

[2018-04-21 12:08] waleedaftab opened #65 "selectAll() selects only visible items."
Whenever selectAll() is called and recyclerview hasn't been scrolled down only visible items are select and count of selected items is also not equal to all items.
[code]
I have even tried to select individual elements in callback of onSelectAll(). Thanks.

[2018-05-11 08:15] mohsinabid commented on #56
@mlaferla please tell me how you solved this problem of getting position in set Active

[2018-05-11 08:17] mohsinabid opened #66 "How to use setSingleClickMode"
@dvdciri @hardysim I want to ask. Where to set setSingleClickMode value and Please also tell me how to get position of selected items ?

[2018-05-11 10:53] aldasa commented on #66
[code]

[2018-05-12 08:10] #66 closed, assigned to nobody

[2018-05-12 08:11] dvdciri commented on #64
Correct, that is a feature, you can enable single click mode as per above.

[2018-05-12 08:11] #64 closed, assigned to nobody

[2018-05-12 08:12] dvdciri commented on #63
Closing due to lack of informations.

[2018-05-12 08:12] #63 closed, assigned to nobody

[2018-05-13 18:20] dvdciri commented on #65
I've just tried, without scrolling, calling the selectAll() and getSelectedItemCount() method it seems like all the items are selected.
Can you please be more specific, add some logs or steps to reproduce.
Thanks

[2018-05-14 09:36] aldasa commented on #65
I have this problem too.

When ever calling selectAll() only the views already loaded in the the recyclerview is selected, not the whole dataset.

Scrolling down after using selectAll(), new items loaded into the recyclerview from the dataset are not selected.

[2018-05-27 23:12] waleedaftab commented on #65
This happens only when you setup multichoice recyclerview with empty list and add elements to the list later on and notify adapter. If you setup it already populated data list, it works fine.

[2019-04-29 11:59] rajam1215 opened #67 "crash issue when search in list"
@dvdciri @hardysim

when item search in all list with searching functionality, app crash if item already selected and you search in list and click on selected items.

error give array index of bounce exception.

[2019-05-10 04:45] rajam1215 commented on #67
@dvdciri
hello
please solve my issue, i have crash on search in list when i select some item in list, when i search something in list with filtered arraylist, the selected item select and click on view items, crash occur.

please solve that.

Thanks

[2019-05-14 06:05] rajam1215 opened #68 "Add search functionality with selection"
@dvdciri

hello dvdciri

please make this functionality in example. i want to search any random item in list with selectable functionality. it is very urgent. you are not active player in github, you make this library if some one face issue in this library, please maintain and help regarding issues.

Thanks

[2019-05-14 06:07] #67 closed, assigned to nobody

[2019-05-14 06:09] rajam1215 commented on #67
i solve this problem with own, please give search functionality.

[2019-05-17 10:58] rajam1215 commented on #68
@dvdciri
Hello you don't solve any issue, with this support your library not go to good direction.
Thanks

[2019-05-17 10:58] #68 closed, assigned to nobody

[2019-06-21 06:58] Krishnasony opened #69 "I'm not getting Callback from my adapter which extended MultiChoiceAdapter"
### Context

### Steps to reproduce

### Current behaviour

### Expected behaviour

### Additional informations

[2019-06-21 07:00] Krishnasony commented on #69
This happens in your 2.3.0 version
how can I get callback when Item selected or deselected

[2020-10-07 10:09] Parlae commented on #32
Hello all,
I also have this issue. I need to restore the color and text of the toolbar to the previous state. Here are the screenshots which illustrate the problem:

Initial state
![wms mobile 01](https://user-images.githubusercontent.com/18600354/95318121-635ba880-0896-11eb-8fc5-c5944ba064bd.png)

active state
![wms mobile 02](https://user-images.githubusercontent.com/18600354/95318127-66ef2f80-0

[2020-10-07 13:24] Parlae commented on #32
Hello again,
I've solved my problem by proper use of `.setTitles()` and `.setDefaultColor` in `MultiChoiceToolbar.Builder`

all the best :)

[2021-01-01 13:09] BuraqsysStudio opened #70 "Feature to limit user selection (Let say user can select only 2 items)"
I love your library and used it in many projects. Thanks for your hard work.

I have been searching for a workaround to limit user selection, I can get the item count and notify user but can't find a way to disable selection.

Is there already a feature which I can't find in the library.

If not then how can I achieve that.

Again thanks.
@dvdciri
@hardysim

[2021-05-20 15:12] sushantj651 opened #71 "jcenter error"
jcenter() is deprecated. Please update jcenter() to mavenCentral()